.container {
    margin: 0 auto;
    padding: 1rem;
}

.head-line {
    width: 100%;
    height: 200px;
    background-image: url(bandeau-par-defaut.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ui.button {
    height: 4em;
    margin: 0.5rem;
}

.text {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5em;
}

.article__content {
    text-align: left;
    margin: 2rem;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    /* Сохраняет пропорции */
    display: block;
    /* Убирает лишний отступ снизу */
    margin: 1rem auto;
    /* Центрирование картинки */
}


.ui.header {
    text-align: center;
}

.vopr,
.vopr2 {
    margin-top: 2rem;
    font-size: 1.8em;
    font-weight: bold;
}

.opr,
.opr2,
.opr3,
.opr4,
.opr5,
.opr6 {
    margin-top: 1rem;
}

.punkti,
.punkti2 {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.5;
}

.info {
    padding-bottom: 2rem;
}

.sidebar {
    background-color: #2c3e50;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: auto;
    height: auto;
    /* Adjust as needed */
}

.sidebar h1 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.7rem 0;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #34495e;
    text-decoration: underline;
}

.ui.segment {
    margin-bottom: 2rem;
    /* Add some spacing between segments */
}

.video-container {
    position: relative;
    /* Необходимо для корректной работы padding-bottom */
    padding-bottom: 56.25%;
    /* Соотношение сторон 16:9 */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui.header {
    margin-bottom: 1rem;
    /* Add some spacing below headers */
}

.podp {
    text-align: left;
    font-size: larger;
}

.logo22 {
    margin-bottom: 2rem;
    text-align: center;
}

.ui.vertical.footer.segment {
    margin-top: 2rem;
    background-color: rgba(128, 128, 128, 0.075);
    padding: 2rem;
}

@media (max-width: 768px) {
    .col-md-3 {
        display: none;
        /* Hide sidebar on smaller screens */
    }

    .col-md-9 {
        width: 100%;
        /* Make main content full-width */
    }
}